[toolchain]
cluster = "local"

[features]
resolution = true
skip-lint = false

[programs.localnet]
deserhub = "J4BSb2jYCnLsxAiaEeVktKfSjbAwUiDV8X5KzFhqkR2T"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[provider.dev]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/deserhub.ts"

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "tests/metaplex_token_metadata.so"